[user]
    name = David Haberthür
    email = email@davidhaberthuer.ch
[alias]
    dt = difftool
    # pretty and short output
    l = log --graph --pretty=format:'%C(red)%h%Creset%C(green)%d%Creset %C(white dim)%s%Creset %C(white)%an, %ar%Creset'
    # view all branches in short form
    ll = !git l --all
    # short status
    s = status -s
    diff-image = "!f() { GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[core]
    editor = vim
    excludesfile = ~/.gitignore
    whitespace = blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
    autocrlf = input
    attributesfile = ~/.gitattributes
	filemode = false
	filemode = false
[apply]
    whitespace = fix
[color]
    ui = true
[merge]
    tool = meld
[diff]
    tool = meld
[difftool]
    prompt = false
    tool = meld
[help]
    autocorrect = 1
[init]
    templatedir = ~/.git_template
[push]
    default = matching
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[safe]
	directory = /home/habi/P/Documents/Reviews/AppliedSciences-Branislav-LUT
	directory = /home/habi/P/Documents/Semela-Liver
	directory = /home/habi/P/Dev/blog/
	directory = /home/habi/P/Dev/blog
	directory = /home/habi/P/Dev/blog/
	directory = /home/habi/P/Dev/blog
