[user]
	name = David Haberthür
	email = email@davidhaberthuer.ch
[alias]
	dt = difftool
	# pretty and short output
	l = log --graph --pretty=format:'%C(red)%h%Creset%C(green)%d%Creset %C(white dim)%s%Creset %C(white)%an, %ar%Creset'
	# view all branches in short form
	ll = !git l --all
	# short status
	s = status -s
[core]
	editor = vim
	excludesfile = ~/.gitignore
    whitespace = trailing-space,space-before-tab
[apply]
    whitespace = fix
[color]
	ui = true
[difftool]
	prompt = false
[diff]
	tool = meld
[help]
	autocorrect = 1
[init]
	templatedir = ~/.git_template
